# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
.data
artifacts
cache
coverage
.nyc_output
.env
*.local
.env.production
*.bak
*.bak_*
*backup*
Gemini key.docx
*key*.docx

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
